*.py[cod]
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.pytest_cache/
.DS_Store
.AppleDouble
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
venv/